.img-shop {

    height: 120px;
}

.img-order {

    height: 80px;
    width: 80px;
}

h3 {
    text-transform: capitalize
}

.product-holder {
    width: 70%;
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-row-gap: 20px;
}

.bought-products {
    width: 70%;
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
    grid-row-gap: 20px;
    margin-bottom: 10vh;
}

.card {
    width: 200px;
    height: 300px;

}

.card-checkout {
    width: 160px;
    height: 250px;
}

#toCart {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%)
}

a {
    text-decoration: none;
    color: white;
}

/* 
.card-content {
    padding: 5px;
} */

#aside {
    width: 20vw;
    min-height: 45vh;
    position: fixed;
    top: 2vh;
    left: 75vw;
}

#shoppingCartImg {
    display: block;
    margin: 2vw auto;
    width: 8vw;
    height: 8vw
}

#shoppingCartImg:hover {
    transition: 500ms;
    margin: 2vw auto;
    width: 10vw;
    height: 10vw;
}
.submitDone{
    display:none;
}